

<footer class="navbar-default navbar-fixed-bottom">
    <div class="">
      <span><p style="text-align: center; background-color: #d8d5d5; color: black; padding: 5px;"> 
        &copy Travo 2023 <br> Made by Md. Al-Mustanjid </p></span>
    </div>
  </footer>

</body>
</html>
