<!DOCTYPE html>
<html>
  <head>
      <title>Travo</title>
      <!-- All cdns -->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
       crossorigin="anonymous"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="/stylesheet/semantic.js"></script>

      <!-- Semantic UI CDN  -->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css" />
      
      <!-- custom ui css file for offline issue -->
      <!-- <link rel="stylesheet" type="text/css" href="/stylesheet/semantic.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheet/button.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheet/icon.css" />
       -->


  </head>
  <body>

    <nav class="navbar navbar-default  navbar-fixed">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Travo <i class="fas fa-expand"></i></a>
          </div>

          <div class="collapse navbar-collapse">
              <!-- <ul class="nav navbar-nav">
                  <li><a href="/places">Home</a></li>
                  </ul> -->

            <ul class="nav navbar-nav navbar-right">
                
             <% if(!currentUser){ %>
              <!-- <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li> -->
              <li><a href="/register">Sign Up <i class="fas fa-user-plus"></i></a></li>
            <% } else{ %>
              <li><a class="btn btn-default btn-sm" href="/places/new">Add your adventure </a></li>
              <li><a href="/places">Your adventures </a></li>
              <li><a href="/post/share">Favourite Stories</a></li>
              <li><a href="#">Sign in as <%= currentUser.username %></a></li>
              <li><a href="/logout">Log Out<i class="arrow right icon"></i></a></li>
            <% }  %>
            </ul>
          </div>
      </div>
    </nav>

    <div class="container">
      <% if(error && error.length >0) { %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
   <% } %>

   <% if(success && success.length >0) { %>
      <div class="alert alert-success" role="alert"><%= success %></div>
      <% } %>

    </div>
   
  </html>
