<% include ../partials/header %>

<!-- customs css file link -->
<link rel="stylesheet" type="text/css" href="/stylesheet/login_sign.css" />

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            <div class="form-login">
            <h4>Login to share & explore adventures</h4>
            <form action="/login" method="post">
            <input type="text" name="username" class="form-control input-sm chat-input" placeholder="Username" />
            </br>
            <input type="password" name="password" class="form-control input-sm chat-input" placeholder="Password" />
            </br>
            <div class="wrapper">
            <span class="group-btn">
                <button  class="ui right labeled icon button"><i class="check icon"></i>Login  </button>
            </span>
        </form>
            </div>
            <div style="padding-top:13px; text-align: left;" class="wrapper">
            <a  href="/register"><u>Join?</u></a>

       
          </div>
          </div>

            </div>

        </div>
    </div>
</div>


<% include ../partials/footer %>

<!-- 
<!-- <div class="container">

  <div class="row">
<h1 style="text-align: center"> Login </h1>
  <div id="myDiv">
<div style="width: 45%; margin: 27px auto;">
<form action="/places" method="post">
<div class="form-group">
      <input class="form-control" type="text" name="userName" placeholder="Username" />
</div>
<div class="form-group">
<input class="form-control" type="password" name="password" placeholder="Password" />
</div>

<div class="form-group">
<button class="btn btn-lg  btn-success btn-block">Log in</button>
</div>
</form>

</div>
</div>
</div>
</div> -->

 <!-- style="border: 1px solid red;" -->


 <!-- <i class="fas fa-sign-in-alt"></i> -->