<% include ../partials/header %>
<div class="container">

<h3>Shared Stories</h3>
  <div class="row">
    <% places.forEach(function(places){ %>
          <div class="col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap;">
              <div class= "thumbnail">
                <img  src="<%= places.image %>">

                <div class="caption">
                    <h4><%= places.title %></h4>
                </div>

                <div  style="text-align:center;">
                  <p>
                    <!-- <a class="btn btn-primary btn-success" href="places/<%= places._id %>" >Read More ></a> -->
                  </p>
                </div>

              </div>

          </div>
            <% }); %>
  </div>
</div>
</div>
<% include ../partials/footer %>